

img.logo{
    height: 30px;
    width: 50px;
}


div.Title-Bar{
    position: relative;
    text-align: center;
}
img.top{
    display: block;
    position: relative;
    width: 100%;
    height: 300px;


}

h2.Title{
    position: absolute;
    font-size: 7vw;
    text-align: center;
    -webkit-text-stroke: 4px white;
    color: navy;
    text-shadow:
       2px 2px 0 #FFFFFF,
     -1px -1px 0 #FFFFFF,
      1px -1px 0 #FFFFFF,
      -1px 1px 0 #FFFFFF,
       1px 1px 0 #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.Main-Content{
    margin-top: 50px;

}
div.Info{
    width: 40%;
    height: 50%;
    border-style: ridge;
    border-color: navy;
    border-width: 7px;
    font-size: 2vw;
    text-align: center;
    float: left;
    margin-left: 7vw;
    color: navy;




}
h2.Phone{
    font-size:2vw;
}

h2.Hours{
    font-size: 1.6vw;
}

h2.Email{
    font-size: 2vw;
}

div.Form-Container{
    width: 40%;
    border-style: ridge;
    border-color: navy;
    border-width: 7px;
    height: 50%;
    float: right;
    margin-right: 7vw;
    color:navy;


}

div.Form{
    max-width: 90%;
    margin: auto;

}




