div.background-jumb {
    background-color: lightSeaGreen;
    width: 75%;
    border-radius: 25px;
    margin: auto;
    height: 200px;
    padding-top: 15px;
    margin-top: 15px;

}


h1.title{
    color: white;
    text-align: center;
    font-size: 60px;
    
}

h2.subtitle{
    color: white;
    margin-top: -25px;
    font-size: 35px;
    text-align: center;
}

div.slogan{
    background-color: navy;
    float: left;
    border-radius: 25px;
    color: white;
    font-size: 60px;
    height: 500px;
    margin-left: 240px;
    margin-top: 12px;
    width: 580px;
    padding: 30px;
    padding-top: 10px;
    padding-left: 60px;

}

img{
    height: 540px;
    margin-left: 10px;
    margin-top: 12px;
    height: 540px;
    margin-left: 10px;
    margin-top: 12px;
    border-radius:25px;
    width: 730px;
    height: 540px;
}

div.bottom-tile{
    border-radius: 25px;
    background-color: navy;
    color: white;
    width: 75%;
    margin: auto;
    margin-top: -8px;
    height: 140px;
}

div.left{
    margin-left: 60px;
    margin-top: 20px;
}

h2.navbar-top{
    padding-top: 25px;
    font-size: 30px;
    margin-top: -7px;
}

h2.navbar-bottom{
    margin-top: -20px;
}

h2.navbar-last{
    margin-top: -19px;
}

div.links{
    float: right;
    margin-top: -75px;
    text-decoration: none;
    padding-right: 100px;

}

span.bar{
    font-size: 30px;
}

a{
    color: #FFD700;
}
a:link {
  text-decoration: none;
  font-size: 30px;
  color: yellow;
}

a:visited {
  text-decoration:none;
  font-size: 30px;
}

a:hover {
  text-decoration: none;
  font-size: 30px;
  color: white;
}

a:active {
  text-decoration: none;
  font-size: 30px;

}


@media only screen and (max-width:1450px){
    body{
        background-color: blue;
    }

    div.slogan{
    background-color: navy;
    float: left;
    border-radius: 25px;
    color: white;
    font-size: 40px;
    height: 490px;
    margin-left: 180px;
    margin-top: 12px;
    width: 400px;
    padding: 30px;
    padding-top: 10px;
    padding-left: 60px;

}

img{
    height: 540px;
    margin-left: 10px;
    margin-top: 12px;
    border-radius:25px;
    width:565px;
    height: 530px;
}

div.links{
    float: right;
    margin-top: -75px;
    text-decoration: none;
    padding-right: 100px;

}

span.bar{
    font-size: 25px;
}

a{
    color: #FFD700;
}
a:link {
  text-decoration: none;
  font-size: 25px;
  color: #FFD700;
}

a:visited {
  text-decoration:none;
  font-size: 25px;
}

a:hover {
  text-decoration: none;
  font-size: 25px;
  color: white;
}

a:active {
  text-decoration: none;
  font-size:25px;

}


div.left{
    margin-left: 60px;
    margin-top: 20px;
}

h2.navbar-top{
    padding-top: 30px;
    font-size: 25px;
    margin-top: 0px;
}

h2.navbar-bottom{
    margin-top: -20px;
}

h2.navbar-last{
    margin-top: -19px;
}

div.links{
    float: right;
    margin-top: -68px;
    text-decoration: none;
    padding-right: 100px;

}


}

@media only screen and (max-width: 1400px){
    body{
        background-color: green;
    }

}



@media only screen and (max-width: 1300px){
    body{
        background-color: brown;
    }

}


/* mobile */
@media only screen and (max-width: 600px){ 

    body{
        background-color: black;
    }



}



@media only screen and (max-width: 400px){


    body{
        background-color: red;
    }
}

