.btn-outline-warning{
    color: white;
    border-color: navy;
}

.btn-outline-warning:hover{
    background-color: navy;
    color: white;
    border-color: white;
}

div.background-jumb {
    background-color: navy;
    width: 1440px;
    margin:auto;
    height: 20vh;
    border-radius:1.4vw;
    padding-top: 1vh;
    

}

img.logo{
    margin-top: -4px;
    height: 30px;
    width: 50px;
}
h1.title{
    color: white;
    text-align: center;
    font-size: 3vw;
    
}

h2.subtitle{
    color: white;
    font-size:1.5vw;
    text-align: center;
    margin-top: 1.4vw;
}

div.slogan{
    background-color: lightSeaGreen;
    float: left;
    color: white;
    width:640px;
    height: 61vh;
    font-size:1vw;
    border-radius:1.4vw;
    margin-left: 12vw;
    margin-top: .7vh;
    padding: 2vw;
    padding-left: .8vw;


}

img{

    margin-left: .4vw;
    margin-top: .7vh;
    border-radius:1.4vw;
    width: 730px;
    height: auto;
    
}

div.bottom-tile{
    border-radius: 1.4vw;
    background-color: red;
    color: white;
    font-size:1vw;
    width: 75%;
    margin: auto;
    margin-top: -1.5vh;
    height: 15vh;
}

div.left{
    margin-left: 3vw;
    margin-top: 1vh;
    font-size:1,5vw;
    
}

h2.navbar-top{
  padding-top: 2vh;
    font-size:1.5vw
    margin-top:-.7vh
}

h2.navbar-bottom{
   margin-top: -1.7vh;
}

h2.navbar-last{
    margin-top: -1.7vh;
}

div.links{
    float: right;
    margin-top: -8vh;
    text-decoration: none;
    font-size: .7vw;
    
 
}

span.bar{

    font-size:1.5vw;
}



@media screen and (max-width: 1919px){
    body{
        background-color: green;
        width:100%
    }
  div.background-jumb{
    width:75%;
    margin: auto;
}
    div.slogan{
    background-color: navy;
    margin-left:12vw;
    height:30%;
    width: 72.5%;
   

}
div.img_container{
    text-align: center;
}
img{
    display: inline-block;
    max-width: 70%;
    height: auto;
}



a{
    color: #FFD700;
}
a:link {
    text-decoration: none;
    color: #FFD700;
    font-size: .6vw;
}

a:visited {
  text-decoration:none;

}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;


}





div.links{
    float: right;
    padding-top: 4vh;
    padding-right: 3vw;
    text-decoration: none;


}


}

@media screen and (max-width:1200px){
    body{
        background-color: purple;
        width:100%;
    }
    div.background-jumb{
    width:75%;
    margin: auto;
    margin-bottom: 1vh;
}
    div.slogan{
    background-color: navy;
    margin: auto;
    margin-left: 12vw;
    margin-bottom: 1vh;
    height: auto;
    width: 72.5%;
   

}
div.img_container{
    text-align: center;
}
img{
    display: inline-block;
    max-width: 70%;
    height: auto;
    margin: 0 auto;
 
}

div.bottom-title{
    width: 75%;
    margin: auto;;
}
div.links{
    padding-right: -20vw;
    
    text-decoration: none;
   

}


a{
    color: #FFD700;
}
a:link {
  text-decoration: none;
  color: #FFD700;
}

a:visited {
  text-decoration:none;

}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;


}





div.links{
    float: right;
    padding-top: 4vh;
    padding-right: 70vw;
    text-decoration: none;


}


}





@media screen and (max-width:800px){
    body{
        background-color: blue;
        width:100%;
    }
    div.background-jumb{
    width:75%;
    margin: auto;
    margin-bottom: 1vh;
}
    div.slogan{
    background-color: navy;
    margin-left: 12vw;
    margin-bottom: 1vh;
    height: auto;
    width: 72.5%%;
   

}
div.img_container{
    text-align: center;
}
img{
    max-width: 70%;
    height: auto;
    margin: 0 auto;
    display: inline-block;
}

div.bottom-title{
    width: 75%;
    margin: auto;;
}
div.links{
    padding-right: -40vw;
    
    text-decoration: none;
   

}


a{
    color: #FFD700;
}
a:link {
  text-decoration: none;
  color: #FFD700;
}

a:visited {
  text-decoration:none;

}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;


}





div.links{
    float: right;
    padding-top: 4vh;
    padding-right: 70vw;
    text-decoration: none;


}


}








/* mobile */
@media only screen and (max-width: 600px){ 

    body{
        background-color: black;
        width: 100%;
    }
 div.background-jumb{
    width:80%;
   
    margin-bottom: 1vh;
}
    div.slogan{
    background-color: navy;
    margin: auto;
    margin-bottom: 1vh;
    height: auto;
    width: 78%;
    margin-left:9.5vw;
   
    }
    
div.img_container{
    text-align: center;
    margin-bottom:1vh;
}
img{
    max-width: 70%;
    height: auto;
    margin-bottom: 1.5vh;
    display: inline-block;
    
}

div.bottom-title{
    width: 90%;
    
}
div.links{
    text-decoration: none;

}


a{
    color: #FFD700;
}
a:link {
  text-decoration: none;
  color: #FFD700;
}

a:visited {
  text-decoration:none;

}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;


}


}



@media only screen and (max-width: 400px){


    body{
        background-color: red;
         width: 80%:
    }
 div.background-jumb{
    width:75%;
   margin-left: 0 auto;
    margin-bottom: 1vh;
}
    div.slogan{
    background-color: navy;
    margin-bottom: 1vh;
    height: auto;
    width: 70%;
    margin-left: 15vw;
   

}
div.img_container{
    text-align: center;
    margin-bottom: 1vh;
}
img{
    display: inline-block;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

div.bottom-title{
    width: 70%;
    
}
div.links{
    text-decoration: none;

}


a{
    color: #FFD700;
}
a:link {
  text-decoration: none;
  color: #FFD700;
}

a:visited {
  text-decoration:none;

}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;


}


}

